header{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(108, 219, 203);
}

header h1{
  font-size: 50px;
}

header p{
  display: inline-block;
  max-width: 500px;
}

nav{
  background-color: rgb(247, 135, 85);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  overflow: hidden;
}

.nav-li{
  display: inline-block;
}

.nav-li a{
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
}

.nav-li a:hover{
  background-color: #111;
}

.nav-active{
  background-color: #111;
}
